In [2]:
import pandas as pd
data = pd.read_csv("C:/Users/user/OneDrive/Desktop/data practice/python/data frames/data analytics 1.csv")#file path id if its not in smae folder
print(data.head(10))

    1          Date        category  subcategory  Price payment_mode      Day  \
0   2   1st jan 2020        food, F       swiggy    300          upi  1st jan
1   3  2 nd jan 2020    grocerry, G      fruits     500         cash  2nd jan
2   4  3 nd jan 2020    grocerry, G         milk    200         card  3rd jan
3   5  4 nd jan 2020     clothes, C        jeans   1500         card  4th jan
4   6  5 nd jan 2020   household, H    detergent    600          upi  5th jan
5   7  6 nd jan 2020    grocerry, G   dry fruits   1200          upi  6th jan
6   8  7 nd jan 2020  appliances, A         oven   5000         card  7th jan
7   9  8 nd jan 2020        food, F       zomato    200         cash  8th jan
8  10  9 nd jan 2020   household, H  conditioner    450          upi  9th jan

   category.1 initials
0        food        F
1    grocerry        G
2    grocerry        G
3     clothes        C
4   household        H
5    grocerry        G
6  appliances        A
7        food        F
8   household        H

In [3]:
print(data.tail(10))

    1          Date        category  subcategory  Price payment_mode      Day  \
0   2   1st jan 2020        food, F       swiggy    300          upi  1st jan
1   3  2 nd jan 2020    grocerry, G      fruits     500         cash  2nd jan
2   4  3 nd jan 2020    grocerry, G         milk    200         card  3rd jan
3   5  4 nd jan 2020     clothes, C        jeans   1500         card  4th jan
4   6  5 nd jan 2020   household, H    detergent    600          upi  5th jan
5   7  6 nd jan 2020    grocerry, G   dry fruits   1200          upi  6th jan
6   8  7 nd jan 2020  appliances, A         oven   5000         card  7th jan
7   9  8 nd jan 2020        food, F       zomato    200         cash  8th jan
8  10  9 nd jan 2020   household, H  conditioner    450          upi  9th jan

   category.1 initials
0        food        F
1    grocerry        G
2    grocerry        G
3     clothes        C
4   household        H
5    grocerry        G
6  appliances        A
7        food        F
8   household        H

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1             9 non-null      int64
 1   Date          9 non-null      object
 2   category      9 non-null      object
 3   subcategory   9 non-null      object
 4   Price         9 non-null      int64
 5   payment_mode  9 non-null      object
 6   Day           9 non-null      object
 7   category.1    9 non-null      object
 8   initials      9 non-null      object
dtypes: int64(2), object(7)
memory usage: 780.0+ bytes
None

In [5]:
print(data.describe())

               1        Price
count   9.000000     9.000000
mean    6.000000  1105.555556
std     2.738613  1527.752525
min     2.000000   200.000000
25%     4.000000   300.000000
50%     6.000000   500.000000
75%     8.000000  1200.000000
max    10.000000  5000.000000

In [6]:
print(data.isnull())

       1  Date   category  subcategory  Price  payment_mode    Day  \
0  False  False     False        False  False         False  False
1  False  False     False        False  False         False  False
2  False  False     False        False  False         False  False
3  False  False     False        False  False         False  False
4  False  False     False        False  False         False  False
5  False  False     False        False  False         False  False
6  False  False     False        False  False         False  False
7  False  False     False        False  False         False  False
8  False  False     False        False  False         False  False

   category.1  initials
0       False     False
1       False     False
2       False     False
3       False     False
4       False     False
5       False     False
6       False     False
7       False     False
8       False     False

In [8]:
print(data.isnull().sum())

1               0
Date            0
category        0
subcategory     0
Price           0
payment_mode    0
Day             0
category.1      0
initials        0
dtype: int64