In [21]:
import pandas as pd
df = pd.read_excel("C:/Users/user/OneDrive/Desktop/data practice/python/data frames/Employee Sample Data.xlsx")
# # print(data)
df.loc[df["Bonus %"] == 0, "GetBonus"] = "no bonus"
df.loc[df["Bonus %"] > 0, "GetBonus"] = "bonus"
print(df.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  GetBonus
0     0.15  United States    Seattle 2021-10-16     bonus
1     0.00          China  Chongqing        NaT  no bonus
2     0.20  United States    Chicago        NaT     bonus
3     0.07  United States    Chicago        NaT     bonus
4     0.00  United States    Phoenix        NaT  no bonus
5     0.00          China  Chongqing        NaT  no bonus
6     0.10  United States    Phoenix        NaT     bonus
7     0.00  United States      Miami 2021-05-20  no bonus
8     0.06  United States     Austin        NaT     bonus
9     0.00  United States    Chicago        NaT  no bonus

In [39]:
data = pd.read_csv("C:/Users/user/OneDrive/Desktop/data practice/python/data frames/column1.csv")
print(data)
data["Full Name"] = data["FirstName"] +" " +data["LastName"]
# print(data)
data["Fll Name"] = data["FirstName"].str.upper() +" " +data["LastName"]
# print(data)
data["Ful Name"] = data["FirstName"].str.capitalize() +" " +data["LastName"]
print(data)

   EmployeeID FirstName  LastName   Department  Bonus %  Salary
0           1      John       Doe  Engineering        5   60000
1           2      Jane     Smith    Marketing        0   55000
2           3     Emily     Jones      Finance       10   75000
3           4   Michael   Johnson  Engineering        0   65000
4           5     Sarah  Williams    Marketing        7   58000
5           6     David     Brown      Finance        0   72000
6           7     Laura    Garcia  Engineering       12   69000
7           8     James  Martinez    Marketing        4   57000
8           9    Olivia    Wilson      Finance       15   80000
9          10    Daniel  Anderson  Engineering        0   62000
   EmployeeID FirstName  LastName   Department  Bonus %  Salary  \
0           1      John       Doe  Engineering        5   60000
1           2      Jane     Smith    Marketing        0   55000
2           3     Emily     Jones      Finance       10   75000
3           4   Michael   Johnson  Engineering        0   65000
4           5     Sarah  Williams    Marketing        7   58000
5           6     David     Brown      Finance        0   72000
6           7     Laura    Garcia  Engineering       12   69000
7           8     James  Martinez    Marketing        4   57000
8           9    Olivia    Wilson      Finance       15   80000
9          10    Daniel  Anderson  Engineering        0   62000

         Full Name         Fll Name         Ful Name
0         John Doe         JOHN Doe         John Doe
1       Jane Smith       JANE Smith       Jane Smith
2      Emily Jones      EMILY Jones      Emily Jones
3  Michael Johnson  MICHAEL Johnson  Michael Johnson
4   Sarah Williams   SARAH Williams   Sarah Williams
5      David Brown      DAVID Brown      David Brown
6     Laura Garcia     LAURA Garcia     Laura Garcia
7   James Martinez   JAMES Martinez   James Martinez
8    Olivia Wilson    OLIVIA Wilson    Olivia Wilson
9  Daniel Anderson  DANIEL Anderson  Daniel Anderson

In [41]:
data["Bonus"] = (data["Salary"]/100)*20
print(data)

   EmployeeID FirstName  LastName   Department  Bonus %  Salary  \
0           1      John       Doe  Engineering        5   60000
1           2      Jane     Smith    Marketing        0   55000
2           3     Emily     Jones      Finance       10   75000
3           4   Michael   Johnson  Engineering        0   65000
4           5     Sarah  Williams    Marketing        7   58000
5           6     David     Brown      Finance        0   72000
6           7     Laura    Garcia  Engineering       12   69000
7           8     James  Martinez    Marketing        4   57000
8           9    Olivia    Wilson      Finance       15   80000
9          10    Daniel  Anderson  Engineering        0   62000

         Full Name         Fll Name         Ful Name    Bonus
0         John Doe         JOHN Doe         John Doe  12000.0
1       Jane Smith       JANE Smith       Jane Smith  11000.0
2      Emily Jones      EMILY Jones      Emily Jones  15000.0
3  Michael Johnson  MICHAEL Johnson  Michael Johnson  13000.0
4   Sarah Williams   SARAH Williams   Sarah Williams  11600.0
5      David Brown      DAVID Brown      David Brown  14400.0
6     Laura Garcia     LAURA Garcia     Laura Garcia  13800.0
7   James Martinez   JAMES Martinez   James Martinez  11400.0
8    Olivia Wilson    OLIVIA Wilson    Olivia Wilson  16000.0
9  Daniel Anderson  DANIEL Anderson  Daniel Anderson  12400.0

In [45]:
data ={"Months":["January", "February", "March", "April"]}
a = pd.DataFrame(data)
print(a)
def extract(value):
    return value[0:3]
a["ShorT_Months"] = a["Months"].map(extract)
print(a)

     Months
0   January
1  February
2     March
3     April
     Months ShorT_Months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr