In [11]:
import pandas as pd
dict = {
    "keys":["k1", "k2", "k1", "k2"],
    "Names": ["John", "Ben", "David", "Peter"],
    "Houses": ["Red", "Blue", "Green", "Red"],
    "Grades": ["3rd", "4th","5th", "6th"]
}
df = pd.DataFrame(dict)
print(df)

  keys  Names Houses Grades
0   k1   John    Red    3rd
1   k2    Ben   Blue    4th
2   k1  David  Green    5th
3   k2  Peter    Red    6th

In [13]:
pivot_df = df.pivot(index="keys", columns="Names", values="Houses")

print(pivot_df)

Names   Ben  David John Peter
keys
k1      NaN  Green  Red   NaN
k2     Blue    NaN  NaN   Red

In [12]:
pivot_df = df.pivot(index="keys", columns="Names", values=["Houses", "Grades"])

print(pivot_df)

      Houses                   Grades
Names    Ben  David John Peter    Ben David John Peter
keys
k1       NaN  Green  Red   NaN    NaN   5th  3rd   NaN
k2      Blue    NaN  NaN   Red    4th   NaN  NaN   6th

In [15]:
dict = {  # Melting
    "keys":["k1", "k2", "k1", "k2"],
    "Names": ["John", "Ben", "David", "Peter"],
    "Houses": ["Red", "Blue", "Green", "Red"],
    "Grades": ["3rd", "4th","5th", "6th"]
}
df = pd.DataFrame(dict)
print(df)

  keys  Names Houses Grades
0   k1   John    Red    3rd
1   k2    Ben   Blue    4th
2   k1  David  Green    5th
3   k2  Peter    Red    6th

In [18]:
print(pd.melt(df, id_vars=["Names"], value_vars=["Houses"]))

   Names Grades variable  value
0   John    3rd   Houses    Red
1    Ben    4th   Houses   Blue
2  David    5th   Houses  Green
3  Peter    6th   Houses    Red

In [19]:
print(pd.melt(df, id_vars=["Names", "Grades"], value_vars=["Houses"]))

   Names Grades variable  value
0   John    3rd   Houses    Red
1    Ben    4th   Houses   Blue
2  David    5th   Houses  Green
3  Peter    6th   Houses    Red

In [20]:
print(pd.melt(df, id_vars=["Names", "Grades"], value_vars=["Houses"], var_name="Houses",value_name="Colours"))

   Names Grades  Houses Colours
0   John    3rd  Houses     Red
1    Ben    4th  Houses    Blue
2  David    5th  Houses   Green
3  Peter    6th  Houses     Red