In [1]:
import pandas as pd
data = {
    "cust_ID": [100, 101, 100],
    "Name": ["Alice", "Bob", "Alice"]
    
}
df = pd.DataFrame(data)
df

   cust_ID   Name
0      100  Alice
1      101    Bob

In [2]:
dp = df.cust_ID.duplicated()
dp

0    False
1    False
2     True
Name: cust_ID, dtype: bool

In [5]:
df[df.cust_ID.duplicated()]

   cust_ID   Name
2      100  Alice

In [3]:
drp = df.drop_duplicates()
drp

   cust_ID   Name
0      100  Alice
1      101    Bob